<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:composite="http://java.sun.com/jsf/composite"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:jsf="http://xmlns.jcp.org/jsf">

    <!-- Ein Eingabefeld innerhalb Formularen. -->

    <!--
        Diese Komponente verhält sich bis auf wenige Ausnahmen wie die Komponente isy:formInput

        Ausnahmen:
        - formCurrencyInput besitzt kein Attribut inputmask, da sich die Inputmask nicht mit der JavaScript-Funktion formatData (components-js.js) verträgt.
        - formCurrencyInput lässt nur die Eingabe von Zahlen und Kommas zu. Alle Anderen Zeichen werden sofort wieder gelöscht.
        - formCurrencyInput besitzt das neue Attribut onchange - dort kann eine JavaScript-Funktion übergeben werden, die aufgerufen wird, sobald der Cursor das Feld verlässt
        -->

    <composite:interface>

        <!-- Die Referenz des Objekts. -->
        <composite:attribute name="reference" required="true" />
        <!-- Der Wert für das Databinding im Eingabefeld -->
        <composite:attribute name="value" required="true" />
        <!-- Ob die Eingabe ein Pflichteingabe ist. -->
        <composite:attribute name="required" type="Boolean" default="false" />
        <!-- Ob die Darstellung nur lesend erfolgen soll -->
        <composite:attribute name="readonly" type="Boolean" default="false" />
        <!-- Der Text für das Label -->
        <composite:attribute name="label" type="String" required="false" />
        <!-- Die CSS-Klasse für das Label. -->
        <composite:attribute name="labelStyleClass" type="String"
                default="col-lg-6" />
        <!-- Die CSS-Klasse für den Eingabebereich. -->
        <composite:attribute name="inputStyleClass" type="String"
                default="col-lg-6" />
        <!-- Der Platzhalter, welcher im Eingabefeld angezeigt wird. -->
        <composite:attribute name="placeholder" type="String" required="false" />
        <!-- Ob das Eingabefeld deaktiviert ist. -->
        <composite:attribute name="disabled" type="Boolean" default="false" />

        <!-- Die maximale Länge der Eingabe. -->
        <composite:attribute name="maxlength" type="Integer" required="false"
                default="255" />

        <!-- Tooltip. -->
        <composite:attribute name="tooltip" type="String" default="" />

        <!-- Ein spezifisches Validation-Model, falls benötigt. -->
        <composite:attribute name="validationModel" required="false"
                default="#{validationModel}" />
        <!-- Eine spezifsche globale Konfiguration, falls benötigt. -->
        <composite:attribute name="globalConfig" required="false"
                default="#{globalConfigurationModel}" />

    <!-- Änderungen an original formatInput: onchange JavaScript-Funktion wird aufgerufen, wenn der Cursor das Feld verlässt -->
        <composite:attribute name="onchange" required="false"
                default="isywebjs.formatAmountOfMoney(this)" />
        <!-- onkeyup JavaScript-Funktion wird aufgerufen, wenn eine Tastatureingabe in dem Feld gemacht wurde -->
        <composite:attribute name="onkeyup" required="false"
                default="isywebjs.deleteNonDigitCharacters(this)" />
        <!-- Die Anzahl der Nachkommastellen: Default ist 2. -->
        <composite:attribute name="decimalplaces" type="Integer" required="false" default="2" />

        <!-- Ob der Text innerhalb des Eingabefeldes rechts ausgerichtet sein soll. Default ist false.-->
        <composite:attribute name="alignright" type="Boolean" required="false" default="false" />

    </composite:interface>

    <composite:implementation>

        <!-- Validierungsfehler bestimmen -->
        <ui:param name="validationMessages"
                value="#{cc.attrs.validationModel.getValidationMessagesForReference(cc.attrs.reference)}" />
        <ui:param name="existsValidationError"
                value="#{not empty validationMessages}" />

        <div class="form-group#{existsValidationError ? ' has-error has-feedback': ''}">

            <ui:fragment rendered="#{not cc.attrs.readonly}">
                <label class="control-label#{cc.attrs.required ? ' mandatory' : ''} #{cc.attrs.labelStyleClass}"
                        for="#{cc.clientId}:#{jsfHelper.escapeIdentifier(cc.attrs.reference)}">
                    <h:outputText value="#{cc.attrs.label}"/>
                </label>
            </ui:fragment>

            <!-- Das Label falls readonly. -->
            <ui:fragment rendered="#{cc.attrs.readonly}">
                <label class="control-label#{cc.attrs.required ? ' mandatory' : ''} #{cc.attrs.labelStyleClass}"
                        for="#{cc.clientId}:readonly_#{jsfHelper.escapeIdentifier(cc.attrs.reference)}">
                    <h:outputText value="#{cc.attrs.label}"/>
                </label>
            </ui:fragment>

            <div class="#{cc.attrs.inputStyleClass}">
                <div class=" input-group">
                    <ui:fragment rendered="#{not cc.attrs.readonly}">
                        <input type="text"
                                class="form-control#{existsValidationError ? ' invalid': ''} currency-input#{cc.attrs.alignright ? ' currency-input-text-align-right' : ''}"
                                jsf:id="#{jsfHelper.escapeIdentifier(cc.attrs.reference)}"
                                placeholder="#{cc.attrs.placeholder}"
                                jsf:value="#{cc.attrs.value}" maxlength="#{cc.attrs.maxlength}"
                                onkeyup="#{cc.attrs.onkeyup}" onchange="#{cc.attrs.onchange}"
                                onblur="#{cc.attrs.onchange}"
                                data-decimalplaces="#{cc.attrs.decimalplaces}">
                            <composite:insertChildren />
                            <f:attribute name="disabled" value="#{cc.attrs.disabled}" />
                        </input>
                    </ui:fragment>
                    <ui:fragment rendered="#{cc.attrs.readonly}">
                        <h:outputText
                                styleClass="form-control readonly#{cc.attrs.alignright ? ' currency-input-text-align-right' : ''}"
                                id="readonly_#{jsfHelper.escapeIdentifier(cc.attrs.reference)}"
                                value="#{cc.attrs.value}"/>
                    </ui:fragment>

                </div>
            </div>

            <!-- Bei Validierungsfehlern -->
            <ui:fragment rendered="#{existsValidationError and cc.attrs.globalConfig.jsEnabled}">
                <span class="form-control-feedback without-input-group-addon">
                    <a data-delay="100" data-trigger="hover" data-title="" data-placement="top"
                            data-content="#{cc.attrs.validationModel.getCombinedValidationMessageForReference(cc.attrs.reference)}"
                            data-toggle="tooltip" class="btn btn-link rf-popover" data-original-title="" title="">
                        <span class="icon icon-info"></span>
                    </a>
                </span>
            </ui:fragment>

        </div>
    </composite:implementation>

</html>
