<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:composite="http://java.sun.com/jsf/composite"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:c="http://java.sun.com/jstl/core"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:jsf="http://xmlns.jcp.org/jsf"
        xmlns:isyi="http://java.sun.com/jsf/composite/isyfact/internal">

    <!-- Ein Eingabefeld innerhalb Formularen. -->

    <!--
        Diese Komponente verhält sich bis auf wenige Ausnahmen wie die Komponente isy:formInput

        Ausnahmen:
        - formCurrencyInput besitzt kein Attribut inputmask, da sich die Inputmask nicht mit der JavaScript-Funktion formatData (components-js.js) verträgt.
        - formCurrencyInput lässt nur die Eingabe von Zahlen und Kommas zu. Alle Anderen Zeichen werden sofort wieder gelöscht.
        - formCurrencyInput besitzt das neue Attribut onchange - dort kann eine JavaScript-Funktion übergeben werden, die aufgerufen wird, sobald der Cursor das Feld verlässt
        -->

    <composite:interface>
        <!-- Die Referenz des Objekts. -->
        <composite:attribute name="reference" required="true" />
        <!-- Der Wert für das Databinding im Eingabefeld -->
        <composite:attribute name="value" required="true" />
        <!-- Ob die Eingabe ein Pflichteingabe ist. -->
        <composite:attribute name="required" type="Boolean" default="false" />
        <!-- Ob die Darstellung nur lesend erfolgen soll -->
        <composite:attribute name="readonly" type="Boolean" default="false" />
        <!-- Der Text für das Label -->
        <composite:attribute name="label" type="String" required="false" />
        <!-- Die CSS-Klasse für das Label. -->
        <composite:attribute name="labelStyleClass" type="String"
                default="col-lg-6" />
        <!-- Die CSS-Klasse für den Eingabebereich. -->
        <composite:attribute name="inputStyleClass" type="String"
                default="col-lg-6" />
        <!-- Der Platzhalter, welcher im Eingabefeld angezeigt wird. -->
        <composite:attribute name="placeholder" type="String" required="false" />
        <!-- Ob das Eingabefeld deaktiviert ist. -->
        <composite:attribute name="disabled" type="Boolean" default="false" />
        <!-- Steuert das Verhalten: '', input-only -->
        <composite:attribute name="mode" type="String" default=""/>

        <!-- Die maximale Länge der Eingabe. -->
        <composite:attribute name="maxlength" type="Integer" required="false"
                default="255" />

        <!-- Ein spezifisches Validation-Model, falls benötigt. -->
        <composite:attribute name="validationModel" required="false"
                default="#{validationModel}" />

    <!-- Änderungen an original formatInput: onchange JavaScript-Funktion wird aufgerufen, wenn der Cursor das Feld verlässt -->
        <composite:attribute name="onchange" required="false"
                default="isywebjs.formatAmountOfMoney(this)" />
        <!-- onkeyup JavaScript-Funktion wird aufgerufen, wenn eine Tastatureingabe in dem Feld gemacht wurde -->
        <composite:attribute name="onkeyup" required="false"
                default="isywebjs.deleteNonDigitCharacters(this)" />
        <!-- Die Anzahl der Nachkommastellen: Default ist 2. -->
        <composite:attribute name="decimalplaces" type="Integer" required="false" default="2" />

        <!-- Attribut: fourEyesMode, 4 Augen Prinzip Mode (locked, unlock) -->
        <composite:attribute name="fourEyesMode" type="String" required="true" />
    <!-- Attribut: fourEyesLastValue, 4 Augen Prinzip Mode (locked, unlock) -->
        <composite:attribute name="fourEyesLastValue" type="String" />

        <!-- Ob der Text innerhalb des Eingabefeldes rechts ausgerichtet sein soll. Default ist false.-->
        <composite:attribute name="alignright" type="Boolean" required="false" default="false" />

    </composite:interface>

    <composite:implementation>
        <c:set var="fourEyesColor" value="#{'locked' eq cc.attrs.fourEyesMode ? 'red' : 'grey'}" />

        <!-- Validierungsfehler bestimmen -->
        <ui:param name="validationMessages"
                value="#{cc.attrs.validationModel.getValidationMessagesForReference(cc.attrs.reference)}" />
        <ui:param name="existsValidationError"
                value="#{not empty validationMessages}" />

        <div class="form-group#{existsValidationError ? ' has-error has-feedback': ''}">
            <isyi:formValidationLabel value="#{cc.attrs.label}"
                    forField="#{cc.clientId}:#{jsfHelper.escapeIdentifier(cc.attrs.reference)}"
                    required="#{cc.attrs.required}"
                    styleClass="#{cc.attrs.labelStyleClass}"
                    rendered="#{not cc.attrs.readonly}" />

            <!-- Das Label falls readonly. -->
            <isyi:formValidationLabel value="#{cc.attrs.label}"
                    forField="#{cc.clientId}:readonly_#{jsfHelper.escapeIdentifier(cc.attrs.reference)}"
                    required="#{cc.attrs.required}"
                    styleClass="#{cc.attrs.labelStyleClass}"
                    rendered="#{cc.attrs.readonly}" />

            <div class="#{cc.attrs.inputStyleClass}">
                <div class=" input-group">
                    <ui:fragment rendered="#{not cc.attrs.readonly}">
                        <input type="text"
                                class="form-control#{existsValidationError ? ' invalid': ''} currency-input#{cc.attrs.alignright ? ' currency-input-text-align-right' : ''}"
                                jsf:id="#{jsfHelper.escapeIdentifier(cc.attrs.reference)}"
                                placeholder="#{cc.attrs.placeholder}"
                                jsf:value="#{cc.attrs.value}" maxlength="#{cc.attrs.maxlength}"
                                onkeyup="#{cc.attrs.onkeyup}" onchange="#{cc.attrs.onchange}"
                                onblur="#{cc.attrs.onchange}"
                                data-decimalplaces="#{cc.attrs.decimalplaces}">
                            <composite:insertChildren />
                            <f:attribute name="disabled" value="#{cc.attrs.disabled}" />
                        </input>

                        <!-- Four Eyes -->
                        <a data-delay="100" data-trigger="hover" data-title="" data-placement="top"
                                data-content="#{cc.attrs.fourEyesLastValue}"
                                data-toggle="#{empty cc.attrs.fourEyesLastValue?'':'tooltip'}"
                                class="btn btn-link btn-tooltip #{empty cc.attrs.fourEyesLastValue?'':'rf-popover'} "
                                data-original-title="" title="">
                            <button type="submit" jsf:id="fourEyesIcon" jsf:action="DEFAULT_ACTION" disabled="disabled"
                                    class="btn btn-icon btn-icon-small input-group-addon #{not cc.attrs.disabled?'input-only':''} ">
                                <f:attribute name="disabled" value="#{cc.attrs.disabled}" />
                                <span class="icon icon-unlock" style="color: #{fourEyesColor}"> </span>
                            </button>
                        </a>

                    </ui:fragment>
                    <ui:fragment rendered="#{cc.attrs.readonly}">
                        <h:outputText
                                styleClass="form-control readonly#{cc.attrs.alignright ? ' currency-input-text-align-right' : ''}"
                                id="readonly_#{jsfHelper.escapeIdentifier(cc.attrs.reference)}"
                                value="#{cc.attrs.value}"/>
                        <!-- Four Eyes -->
                        <a data-delay="100" data-trigger="hover" data-title="" data-placement="top"
                                data-content="#{cc.attrs.fourEyesLastValue}"
                                data-toggle="#{empty cc.attrs.fourEyesLastValue?'':'tooltip'}"
                                class="btn btn-link btn-tooltip #{empty cc.attrs.fourEyesLastValue?'':'rf-popover'} "
                                data-original-title="" title="">
                            <button type="submit" jsf:id="fourEyesIconReadOnly" jsf:action="DEFAULT_ACTION" disabled="disabled"
                                    class="btn btn-icon btn-icon-small input-group-addon #{not cc.attrs.disabled?'input-only':''} ">
                                <f:attribute name="disabled" value="#{cc.attrs.disabled or cc.attrs.mode eq 'input-only'}" />
                                <span class="icon icon-unlock" style="color: #{fourEyesColor}"> </span>
                            </button>
                        </a>

                    </ui:fragment>

                </div>
            </div>

            <!-- Bei Validierungsfehlern -->
            <isyi:formValidationIcon validationModel="#{cc.attrs.validationModel}"
                    reference="#{cc.attrs.reference}" inputGroupAddonExistent="false" />
        </div>
    </composite:implementation>

</html>
